@import './base.css';

#app {
  width: 80vw;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
header {
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
}
header,
main,
footer {
  width: 100%;
  padding-bottom: 1rem;
}
header,
footer {
  color: var(--color-text-contrast);
  background-color: var(--color-background-soft);
  text-align: center;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-background-soft);
}

a {
  text-decoration: underline;
  border-bottom: 2px solid var(--color-border);
  color: var(--color-text-contrast);
  transition: 0.4s;
}
section {
  margin: 1rem 0;
  position: relative;
  width: 100%;
}
section h2 {
  padding-bottom: 0.25em;
  border-bottom: var(--color-border) 1px solid;
  margin-bottom: 1em;
}

textarea {
  position: relative;
  min-width: 70vw;
  margin: 0;
  margin-left: auto;
  padding: 0.5rem;
  border-radius: 5px;
  border: var(--color-border) 1px solid;
  min-height: 10vh;
}

.text-block {
  padding: 0 1rem;
  border-radius: 5px;
}

.unstyled-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-height: 40vh;
  overflow-y: auto;
}

.unstyled-list li {
  color: inherit;
  background: none;
  margin: 0.25rem;
}

.empty-text {
  opacity: 0.25;
}
.btn {
  margin: 0.5rem auto;
  margin-right: 0.5rem;
}
button,
button[type='submit'],
button[type='reset'] {
  border: none;
  background: var(--color-text);
  cursor: pointer;
  color: var(--color-background-soft);
  transition: all ease 0.5s;
}

button[type='submit'],
button[type='reset'] {
  margin: 0.25rem;
  background: var(--color-text-contrast);
  color: var(--color-background-soft);
}
button[type='submit']:disabled,
button[type='reset']:disabled {
  opacity: 0.5;
}

button:hover {
  color: var(--color-background-soft);
  background: var(--color-text);
  transform: scale(1.05);
  opacity: 1;
  text-decoration-thickness: 0;
}

.blackout {
  border-color: transparent;
  opacity: 0.5;
  /* color: var(--color-text-background-soft); */
  text-decoration-line: line-through;
  text-decoration-thickness: 33%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: var(--color-text-contrast);
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  place-items: center;
  width: 100%;
  position: relative;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 1rem;
  border-radius: 5px;
  color: var(--color-text);
  transition: all ease 0.5s;
  border-bottom: var(--color-border) 1px solid;
  width: 100%;
}
.book strong {
  color: var(--color-text-contrast);
}
.author {
  margin: auto 0.5rem;
}
.spacer {
  position: relative;
  width: 80vw;
  height: 0.1rem;
}
input[type='radio'] {
  margin-right: 0.25rem;
}
label,
textarea,
input {
  margin: 0.25rem;
}

@media (min-width: 1024px) {
  header,
  footer {
    position: fixed;
    width: 100vw;
  }
  header {
    top: 0;
  }
  footer {
    bottom: 0;
  }
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100% 1fr;
  }
}
@media (max-height: 805px) {
  .unstyled-list {
    max-height: 33vh;
  }
}
@media (max-height: 605px) {
  .unstyled-list {
    max-height: 25vh;
  }
}
@media (min-height: 1024px) {
  .unstyled-list {
    max-height: 50vh;
  }
}